<%= stylesheet_link_tag 'custom/reset', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/style', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/swiper-3.3.1.min.css', media: 'all', 'data-turbolinks-track' => true %>

<div id="container">

  <!--header-nav-->
  <div class="header_wrap navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-sm-5">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bp-nav-trigger" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <% if mobile? %>
              <%= image_tag('img/web/logo_v2.png', :size => '24') %>
          <% else %>
              <%= image_tag('img/web/logo_v2.png', height: '42') %>
          <% end %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-sm-7 collapse navbar-collapse" id="bp-nav-trigger">
        <ul class="nav navbar-nav">
          <li><a href="#top">Home</a></li>
          <li><a href="#works">How&nbspit&nbspWorks</a></li>
          <li><a href="#rules">Parking&nbsprules</a></li>
          <li><a href="#price">Price</a></li>
          <li><a href="#download">Download</a></li>
          <li><a href="mailto:sayhello@bleeperbike.com">Contact Us</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
  </div>

  <!--top_background-img-->
  <div class="header_bg" id="top">
    <%= image_tag('img/web/banner_v2.jpg') %>
    <div class="circle sr-slogan">
      <p>Hassle-Free<br><font style="color: #ff7001;">Bike Rental</font></p>
    </div>
  </div>


  <br><br><br><br>

  <!-- Bleeper news-->
  <%=
      # render 'static_page/sub_section/bleeper_news'
  %>

  <!-- How it works-->
  <div id="works"></div>
  <div class="main">
    <!--phoneloop-->
    <div class="banner">
      <div class="banner_title">
        <h3>HOW&nbspIT&nbspWORKS</h3>

        <p>Download the BleeperBike App onto your smart phone</p>
      </div>
      <div class="banner_loop">
        <div class="loop">
          <div class="loop_box">
            <ul class="slidebox">
              <li><%= image_tag('img/web/register.png') %></li>
              <li><%= image_tag('img/web/find.png') %></li>
              <li><%= image_tag('img/web/unlock.png') %></li>
              <li><%= image_tag('img/web/ride.png') %></li>
              <li><%= image_tag('img/web/lock.png') %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="loop_btn">
        <div class="item">
          <em class="line"></em>

          <div class="loop_bg bg01"></div>
          <h3>REGISTER</h3>

          <p>
            Register by <br>
            email or by phone<br>
            verification
          </p>
        </div>
        <div class="item">
          <em class="line"></em>

          <div class="loop_bg bg02"></div>
          <h3>FIND</h3>

          <p>
            When you open the <br>
            app all bikes near you <br>
            will be displayed <br>
          </p>
        </div>
        <div class="item">
          <em class="line"></em>

          <div class="loop_bg bg03"></div>
          <h3>UNLOCK</h3>

          <p>
            Scan the QR <br>
            Code or enter <br>
            the BleeperBike ID <br>
            Number
          </p>
        </div>
        <div class="item">
          <em class="line"></em>

          <div class="loop_bg bg04"></div>
          <h3>RIDE</h3>

          <p>
            Enjoy you ride <br>
            AND always obey <br>
            the rules of the road <br>
          </p>
        </div>
        <div class="item">
          <!--<em class="line"></em>-->
          <div class="loop_bg bg05"></div>
          <h3>LOCK</h3>

          <p>
            Push Smart lock <br>
            lever to lock <br>
            Bleeper. <br>
          </p>
        </div>
      </div>
    </div>

    <!--bleeperbike-->
    <div class="bleeper" id="meet">
      <div class="bleeper_box">
        <div class="bleeper_mt">
          <h3>MEET BLEEPER</h3>

          <p>BleeperBike is comfortable and fun to ride</p>
        </div>
        <div class="bleeper_bike">
          <%= image_tag('img/web/bike.png') %>
          <ul class="lineBox">
            <li class="led">
              <p>Built in LED light</p>

              <div class="led_cover">
                <div></div>
                <div class="led_line cover"></div>
              </div>
            </li>
            <li class="brake">
              <p>Responsive brake</p>

              <div class="brake_cover">
                <div></div>
                <div class="brake_line cover"></div>
              </div>
            </li>
            <li class="hub">
              <p>Power generation hub</p>

              <div class="hub_cover">
                <div></div>
                <div class="hub_line cover"></div>
              </div>
            </li>
            <li class="seat">
              <p>Adjustable seat</p>

              <div class="seat_cover">
                <div></div>
                <div class="seat_line cover"></div>
              </div>
            </li>
            <li class="gps">
              <p>Smart lock with built in GPS</p>

              <div class="gps_cover">
                <div></div>
                <div class="gps_line cover"></div>
              </div>
            </li>
            <li class="built">
              <p>Built in LED lights</p>

              <div class="built_cover">
                <div></div>
                <div class="built_line cover"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!--parking_rules-->
    <div id="rules"></div>
    <div class="parkingRules">
      <div class="parking_wrap">
        <div class="rule_desc">
          <h3>PARKING RULES</h3>

          <p>Please only park Bleeper at designated parking locations</p>
          <%= image_tag('img/web/parking_v2.png') %>
        </div>
        <div class="rule_morality">
          <p>It is essential that users <br>
            respect our bike parking rules. See images below for examples of the good, the bad <br>and the ugly!</p>
        </div>
        <div class="rule_img">
          <%= image_tag('img/web/rule_img.png') %>
        </div>
      </div>
      <div class="rule_design">
        <%= image_tag('img/web/rule_design.png') %>
      </div>
    </div>

    <!--price-->
    <div id="price"></div>
    <div class="price">
      <h3>PRICE</h3>

      <div class="price_fee">
        <div class="price_fee_wrap">
          <div class="price_fee_box">
            <% @payments.each do |payment| %>
                <p class=""><%= payment.clause %></p>
                <br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="price_credit">
        <div class="price_credit_wrap">
          <div class="credit_l">
            <div class="credit_wrap">
              <div style="overflow: hidden">
                <p style="height:30px;">Gain Points</p>

                <div style="height:1px;width:100%;background:#cb8451;overflow:hidden;margin-top:10px;"></div>
              </div>
              <div style="height:280px;overflow-y:scroll" class="scroll">
                <ul>
                  <% @gain_credits.each do |gain| %>
                      <li>
                        <span class="credit_descr"><%= gain.clause %></span>
                        <span class="credit_countr"><%= gain.point_text %></span>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="credit_r">
            <div class="credit_wrap">
              <div style="overflow: hidden">
                <p style="height:30px">Lose Points</p>

                <div style="height:1px;width:100%;background:#cb8451;overflow:hidden;margin-top:10px;"></div>
              </div>
              <div style="height:280px;overflow-y:scroll">
                <ul>
                  <% @lose_credits.each do |lose| %>
                      <li>
                        <span class="credit_descr"><%= lose.clause %></span>
                        <span class="credit_countr"><%= lose.point_text %></span>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--download-->
    <div class="download" id="download">
      <h3>DOWNLOAD</h3>

      <div class="download_bg"></div>
      <div class="down_bgimg">
        <a href="https://itunes.apple.com/us/app/bleeperbike/id1226369951?l=zh&ls=1&mt=8" class="iphone">
          <!--<img src="__PUBLIC__/home/img/web/download.png" alt="">-->
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.gesila.bleeperbike" class="android">
          <!--<img src="__PUBLIC__/home/img/web/download.png" alt="">-->
        </a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container footer_wrap">
      <div>
        <ul>
          <li class="col-lg-4 col-md-12">
            <strong>LEGAL</strong>
            <a data-toggle="modal" data-target="#termscond">Terms&nbsp&&nbspCondtions</a>
            <a data-toggle="modal" data-target="#privacy">Privacy&nbspPolicy</a>
          </li>
          <li class=" col-lg-4 col-md-12 paddingtop-bottom">
            <strong>USEFUL&nbspLINKS</strong>
            <a data-toggle="modal" data-target="#faq">FAQ</a>
          </li>
          <li class=" col-lg-4 col-md-12 paddingtop-bottom ">
            <strong>APPS</strong>
            <a href="https://itunes.apple.com/us/app/bleeperbike/id1226369951?l=zh&ls=1&mt=8">Download&nbspIOS&nbspapp</a>
            <a href="https://play.google.com/store/apps/details?id=com.gesila.bleeperbike">Download&nbspAndroid&nbspapp</a>
          </li>
        </ul>
      </div>
      <div style="padding-bottom: 10%;">
        <p class="col-lg-12"><%= @copyright.context %></p>
      </div>
    </div>
  </footer>
</div>

<%= render 'static_page/modal/privacy' %>
<%= render 'static_page/modal/termsconditions' %>
<%= render 'static_page/modal/faq' %>

<%= javascript_include_tag 'custom/scrollreveal.min.js' %>
<%= javascript_include_tag 'custom/swiper-3.3.1.jquery.min.js' %>
<%= javascript_include_tag 'custom/desktop_addedon_js.js' %>
