<%= stylesheet_link_tag 'custom/appreset.css', 'https://fonts.googleapis.com/css?family=Muli', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/app.css', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/swiper-3.3.1.min.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/reset.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

<div id="container">
  <!--header-nav-->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-sm-5">
        <div class="container">
          <button type="button" style="margin-left:-60px;" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#bp-nav-trigger" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-sm-7 collapse navbar-collapse" id="bp-nav-trigger">
        <ul class="nav navbar-nav">
          <li><a href="#top">Home</a></li>
          <% unless (@news.nil?) %>
              <li><a href="#bleepernews">Bleeper&nbspNews</a></li>
          <% end %>
          <li><a href="#works">Ride a Bleeper</a></li>
          <li><a href="#rules">Parking Steps</a></li>
          <li><a href="#price">Payment Options & Rewards</a></li>
          <li><a href="mailto:sayhello@bleeperbike.com">Contact Us</a></li>
          <% if ios? %>
              <li><a href="https://itunes.apple.com/us/app/bleeperbike/id1226369951?l=zh&ls=1&mt=8">Download</a>
              </li>
          <% elsif android? %>
              <li><a href="https://play.google.com/store/apps/details?id=com.gesila.bleeperbike">Download</a></li>
          <% else %>
              <li><a href="">We don't support you device - <%= getDevice %></a></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-->
  </div>


  <div class="">
    <!--<div style="padding-top: 50px;">-->
    <%= image_tag('img/mobile/mobile.png') %>
    <!--</div>-->

    <div class="circle header_bg col-md-12">
      <% if ios? %>
          <div class="col-md-3">
            <a href="https://itunes.apple.com/us/app/bleeperbike/id1226369951?l=zh&ls=1&mt=8">
              <%= image_tag('img/web/app_store.png') %>
            </a>
          </div>
      <% else %>
          <div class="col-md-3">
            <a href="https://play.google.com/store/apps/details?id=com.gesila.bleeperbike">
              <%= image_tag('img/web/google_play.png') %>
            </a>
          </div>
      <% end %>
    </div>

    <!--<div class="circle sr-slogan">-->
    <!--<p>App Powered<br>Bike Sharing</p>-->
    <!--</div>-->
  </div>
  <!--loop-->
  <div id="bleepernews" style="padding-top: 0.4em;"></div>
  <!--</br>-->
  <!-- Bleeper news-->
  <% unless (@news.nil?) %>
      <%=
          render 'static_page/sub_section/bleeper_news'
      %>
  <% end %>

  <div class="banner" id="works" align="center">
    <h3>RIDE A BLEEPER</h3>
    <%= image_tag('img/mobile/mobile_ride.png') %>
  </div>

  <!--meet-->
  <div class="meet">
    <div class="bleeper" id="meet">
      <div class="bleeper_box">
        <div class="bleeper_mt">
          <h3>MEET BLEEPER</h3>

          <p>BleeperBike is comfortable and fun to ride</p>
        </div>
        <div class="bleeper_bike">
          <%= image_tag('img/mobile/bike.png') %>

          <ul class="lineBox">
            <li class="led">
              <p>Built in LED light</p>

              <div class="led_cover">
                <div></div>
                <div class="led_line cover"></div>
              </div>
            </li>
            <li class="brake">
              <p>Responsive brake</p>

              <div class="brake_cover">
                <div></div>
                <div class="brake_line cover"></div>
              </div>
            </li>
            <li class="hub">
              <p>Power generation hub</p>

              <div class="hub_cover">
                <div></div>
                <div class="hub_line cover"></div>
              </div>
            </li>
            <li class="seat">
              <p>Adjustable seat</p>

              <div class="seat_cover">
                <div></div>
                <div class="seat_line cover"></div>
              </div>
            </li>
            <li class="gps">
              <p>Smart lock with built in GPS</p>

              <div class="gps_cover">
                <div></div>
                <div class="gps_line cover"></div>
              </div>
            </li>
            <li class="built">
              <p>Built in LED lights</p>

              <div class="built_cover">
                <div></div>
                <div class="built_line cover"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--parking rules-->
  <div class="parkingRules" id="rules">
    <div class="parking_wrap">
      <div class="rule_desc">
        <h3>PARKING STEPS</h3>
        <%= image_tag('img/mobile/mobile_parking_steps.png') %>
      </div>
      <div class="rule_morality">
        <!--<p>It is essential that users respect our bike parking rules. See images below for examples of the good, the bad-->
        <!--and the ugly!</p>-->
      </div>
      <div class="rule_img">
        <%=
            # image_tag('img/mobile/parking_rules_mobile.png')
        %>
      </div>
    </div>
    <!--<div class="rule_design">-->
    <!--<img src="img/rule_design.png" alt="">-->
    <!--</div>-->
  </div>


  <!--price-->
  <div class="price" id="price">
    <!--<div class="price_mtline">-->
    <!--<img src="" alt="">-->
    <!--</div>-->
    <h3>PAYMENT OPTIONS & REWARDS</h3>
    <%=
        image_tag('img/mobile/mobile_payment.png')
    %>
  </div>
  <div class="footer">
    <div class="footer_wrap">
      <!--<div class="bike_logo"></div>-->
      <ul>
        <li>
          <strong style="padding-top: 100px;">LEGAL</strong>
          <a id="TERM" data-toggle="modal" data-target="#termscond">Terms&nbsp&&nbspCondtions</a>
          <a data-toggle="modal" data-target="#privacy" style="margin-top: .68rem;" id="POLICY">Privacy&nbspPolicy</a>
        </li>
        <li class="useful">
          <strong>USEFUL&nbspLINKS</strong>
          <a id="FAQ" data-toggle="modal" data-target="#faq">FAQ</a>
        </li>
      </ul>

      <p class="ltd-icon">
        <a href="https://m.facebook.com/BleeperBike/" class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
        <a href="https://twitter.com/Dub_Bleeper" class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
      </p>

      <p class="ltd"><%= @copyright.context %>
      </p>
    </div>
  </div>
</div>

<%= render 'static_page/modal/privacy' %>
<%= render 'static_page/modal/termsconditions' %>
<%= render 'static_page/modal/faq' %>

<%= javascript_include_tag 'custom/jquery-1.7.1.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/slide.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/zepto.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/swiper-3.3.1.jquery.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/mobile_addedon_js.js' %>


