<%= stylesheet_link_tag 'custom/appreset.css', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/app.css', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'custom/swiper-3.3.1.min.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/reset.js', 'data-turbolinks-track' => true %>

<div id="container">
  <!--header-nav-->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-sm-6">
        <div class="container">

          <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#bp-nav-trigger" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/">
            <div class="logo"></div>
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-sm-6 collapse navbar-collapse" id="bp-nav-trigger">
        <ul class="nav navbar-nav">
          <li><a href="#top">Home</a></li>
          <li><a href="#works">How&nbspit&nbspWorks</a></li>
          <li><a href="#rules">Parking&nbsprules</a></li>
          <li><a href="#price">Price</a></li>
          <li><a href="mailto:sayhello@bleeperbike.com">Contact Us</a></li>
          <% if ios? %>
              <li><a href="https://itunes.apple.com/us/app/bleeperbike/id1226369951?l=zh&ls=1&mt=8">Download</a>
              </li>
          <% elsif android? %>
              <li><a href="https://play.google.com/store/apps/details?id=com.gesila.bleeperbike">Download</a></li>

          <% else %>
              <li><a href="">We don't support you device - <%= getDevice %></a></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-->
  </div>


  <div class="header_bg">
    <%= image_tag('img/mobile/banner_v2.jpg') %>
    <div class="circle sr-slogan">
      <p>Hassle-Free<br><font style="color: #ff7001;">Bike Rental</font></p>
    </div>
  </div>
  <!--loop-->

  <!-- Bleeper news-->
  <% unless (@news.nil?) %>
      <%=
          render 'static_page/sub_section/bleeper_news'
      %>
  <% end %>

  <div class="banner" id="works">
    <div class="banner_title">
      <h3>HOW&nbspIT&nbspWORKS</h3>

      <p>Download the BleeperBike App onto your smart phone</p>
    </div>
    <div class="banner_loop">
      <div class="loop">
        <div class="loop_box">
          <div class="slide swiper-container" id="swiper-container1">
            <ul class="swiper-wrapper">
              <li class="swiper-slide"><%= image_tag('img/mobile/register.png') %></li>
              <li class="swiper-slide"><%= image_tag('img/mobile/find.png') %></li>
              <li class="swiper-slide"><%= image_tag('img/mobile/unlock.png') %></li>
              <li class="swiper-slide"><%= image_tag('img/mobile/ride.png') %></li>
              <li class="swiper-slide"><%= image_tag('img/mobile/lock.png') %></li>
            </ul>
            <div class="swiper-pagination" style="display:none"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_desc swiper-container" id="swiper-container2">
      <div class="slide_box swiper-wrapper">
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg01"></div>-->
          <h3>REGISTER</h3>

          <p>
            Register by email or by phone verification
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>
          <div class="loop_bg bg02"></div>-->
          <h3>FIND</h3>

          <p>
            When you open the app all bikes near you will be displayed
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg03"></div>-->
          <h3>UNLOCK</h3>

          <p>
            Scan the QR Code or enter the BleeperBike ID Number
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg04"></div>-->
          <h3>RIDE</h3>

          <p>
            Enjoy you ride AND always obey the rules of the road
          </p>
        </div>
        <div class="item swiper-slide">
          <!--<em class="line"></em>-->
          <!--<div class="loop_bg bg05"></div>-->
          <h3>LOCK</h3>

          <p>
            Push Smart lock lever to lock Bleeper.
          </p>
        </div>
      </div>
      <div class="swiper-pagination" style="bottom:0"></div>
    </div>
  </div>

  <!--meet-->
  <div class="meet">
    <div class="bleeper" id="meet">
      <div class="bleeper_box">
        <div class="bleeper_mt">
          <h3>MEET BLEEPER</h3>

          <p>BleeperBike is comfortable and fun to ride</p>
        </div>
        <div class="bleeper_bike">
          <%= image_tag('img/mobile/bike.png') %>

          <ul class="lineBox">
            <li class="led">
              <p>Built in LED light</p>

              <div class="led_cover">
                <div></div>
                <div class="led_line cover"></div>
              </div>
            </li>
            <li class="brake">
              <p>Responsive brake</p>

              <div class="brake_cover">
                <div></div>
                <div class="brake_line cover"></div>
              </div>
            </li>
            <li class="hub">
              <p>Power generation hub</p>

              <div class="hub_cover">
                <div></div>
                <div class="hub_line cover"></div>
              </div>
            </li>
            <li class="seat">
              <p>Adjustable seat</p>

              <div class="seat_cover">
                <div></div>
                <div class="seat_line cover"></div>
              </div>
            </li>
            <li class="gps">
              <p>Smart lock with built in GPS</p>

              <div class="gps_cover">
                <div></div>
                <div class="gps_line cover"></div>
              </div>
            </li>
            <li class="built">
              <p>Built in LED lights</p>

              <div class="built_cover">
                <div></div>
                <div class="built_line cover"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--parking rules-->
  <div class="parkingRules" id="rules">
    <div class="parking_wrap">
      <div class="rule_desc">
        <h3>PARKING RULES</h3>

        <%= image_tag('img/web/parking_rule_v2.png') %>
      </div>
      <div class="rule_img">
        <%= image_tag('img/mobile/tuzu.png') %>
      </div>
    </div>
    <!--<div class="rule_design">-->
    <!--<img src="img/rule_design.png" alt="">-->
    <!--</div>-->
  </div>


  <!--price-->
  <div class="price" id="price">
    <!--<div class="price_mtline">-->
    <!--<img src="" alt="">-->
    <!--</div>-->
    <h3>PRICE</h3>

    <div class="price_wrap">
      <div class="price_fee">
        <div class="price_t">
          <%= image_tag('img/mobile/PayAsYouGo.png') %>
        </div>
        <div class="price_fee_box">
          <% @payments.each do |payment| %>
              <p class=""><%= payment.clause %></p>
              <br>
          <% end %>
        </div>
        <div class="price_i">
          <%= image_tag('img/mobile/pay2.png') %>
        </div>
      </div>
      <!--<div class="price_i">-->
      <!--<img src="__PUBLIC__/home/img/mobile/pay.png" alt="">-->
      <!--</div>-->
      <div class="price_credit">
        <div class="price_credit_wrap">
          <div class="credit_l">
            <div class="credit_l_img">
              <%= image_tag('img/mobile/creditl.png') %>
            </div>
            <div class="credit_wrap">
              <p>Gain Points</p>
              <ul style="height:4rem;overflow-y: scroll">
                <% @gain_credits.each do |gain| %>
                    <li>
                      <span class="credit_descr"><%= gain.clause %></span>
                      <span class="credit_countr"><%= gain.point_text %></span>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="credit_r">
            <div class="credit_r_img">
              <%= image_tag('img/mobile/creditl.png') %>
            </div>
            <div class="credit_wrap">
              <p>Lose Points</p>
              <ul style="height:4rem;overflow-y: scroll">
                <% @lose_credits.each do |lose| %>
                    <li>
                      <span class="credit_descr"><%= lose.clause %></span>
                      <span class="credit_countr"><%= lose.point_text %></span>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_wrap">
      <div class="bike_logo"></div>
      <ul>
        <li>
          <strong style="padding-top: 100px;">LEGAL</strong>
          <a id="TERM" data-toggle="modal" data-target="#termscond">Terms&nbsp&&nbspCondtions</a>
          <a data-toggle="modal" data-target="#privacy" style="margin-top: .68rem;" id="POLICY">Privacy&nbspPolicy</a>
        </li>
        <li class="useful">
          <strong>USEFUL&nbspLINKS</strong>
          <a id="FAQ" data-toggle="modal" data-target="#faq">FAQ</a>
        </li>
      </ul>

      <p class="ltd"><%= @copyright.context %></p>
    </div>
  </div>
</div>

<%= render 'static_page/modal/privacy' %>
<%= render 'static_page/modal/termsconditions' %>
<%= render 'static_page/modal/faq' %>

<%= javascript_include_tag 'custom/jquery-1.7.1.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/slide.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/zepto.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/swiper-3.3.1.jquery.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'custom/mobile_addedon_js.js' %>

