<!-- Project One -->
<div class="container">
  <h3 align="center"> BLEEPER NEWS</h3>
  <br><br><br>
  <!-- First Featurette -->
  <div class="featurette" id="about">
    <% unless @news.image_url.nil? or @news.image_url == "" %>
        <img class="featurette-image img-responsive pull-right" src="<%= @news.image_url %>" width="500" height="500">
    <% end %>
    <%=
        # image_tag('img/web/parking_rule_v2.png', :class => 'featurette-image img-responsive pull-right', :heigh => '500', :width => '500')
    %>

    <% if mobile? %>
        <h3>
          <%= @news.title %>
          <!--<span class="text-muted">Will Catch Your Eye</span>-->
        </h3>
    <% else %>
        <h2 class="featurette-heading" style="font-size: xx-large">
          <%= @news.title %>
          <!--<span class="text-muted">Will Catch Your Eye</span>-->
        </h2>
    <% end %>

    </br>

    <p class="lead">
      <%= @news.content %>
    </p>
  </div>

  <hr class="featurette-divider">

  <!--<div class="row">-->
  <!--<div class="col-md-5">-->
  <!--<a href="#">-->
  <!--<img class="img-responsive" src="http://placehold.it/700x300" alt="">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="col-md-7">-->
  <!--<h3>Project One</h3>-->
  <!--<h4>Subheading</h4>-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at-->
  <!--voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet-->
  <!--unde.</p>-->
  <!--<a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>-->
  <!--</div>-->
  <!--</div>-->


  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<h3>Project One</h3>-->
  <!--<h4>Subheading</h4>-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at-->
  <!--voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet-->
  <!--unde.</p>-->
  <!--</div>-->
  <!--</div>-->
</div>