<div class="banner">
  <div class="banner_title">
    <h3>HOW&nbspIT&nbspWORKS</h3>

    <p>Download the BleeperBike App onto your smart phone</p>
  </div>
  <div class="banner_loop">
    <div class="loop">
      <div class="loop_box">
        <ul class="slidebox">
          <li><%= image_tag('img/web/register.png') %></li>
          <li><%= image_tag('img/web/find_v2.png') %></li>
          <li><%= image_tag('img/web/unlock-2.png', :width => '282') %></li>
          <li><%= image_tag('img/web/ride.png') %></li>
          <li><%= image_tag('img/web/lock_v2.png') %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="loop_btn">
    <div class="item">
      <em class="line"></em>

      <div class="loop_bg bg01"></div>
      <h3>REGISTER</h3>

      <p>
        Register by <br>
        email or by phone<br>
        verification
      </p>
    </div>
    <div class="item">
      <em class="line"></em>

      <div class="loop_bg bg02"></div>
      <h3>FIND</h3>

      <p>
        When you open the <br>
        app all bikes near you <br>
        will be displayed <br>
      </p>
    </div>
    <div class="item">
      <em class="line"></em>

      <div class="loop_bg bg03"></div>
      <h3>UNLOCK</h3>

      <p>
        Scan the QR <br>
        Code or enter <br>
        the BleeperBike ID <br>
        Number
      </p>
    </div>
    <div class="item">
      <em class="line"></em>

      <div class="loop_bg bg04"></div>
      <h3>RIDE</h3>

      <p>
        Enjoy you ride <br>
        AND always obey <br>
        the rules of the road <br>
      </p>
    </div>
    <div class="item">
      <!--<em class="line"></em>-->
      <div class="loop_bg bg05"></div>
      <h3>LOCK</h3>

      <p>
        Push Smart lock <br>
        lever to lock <br>
        Bleeper. <br>
      </p>
    </div>
  </div>
</div>
